<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>꼬랑지랑 - 상품 수정</title>

    <!-- bulma css 관련 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
            defer
            src="https://kit.fontawesome.com/9daa42bcef.js"
            crossorigin="anonymous"
    ></script>
    <!-- AWS S3 사용하기 위한 파일 -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/css/product-add.css" />
</head>
<body>
<!-- 헤더 -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="has-text-link">꼬랑지랑</span>
            </a>
        </div>
    </div>
</nav>


<!-- 상품 추가 폼(Form) -->
<section class="section">
    <div class="container">
        <a
                class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
                style="transition: all 0.1s ease-in-out"
                th:href="@{/admin}"
        >&larr; 관리자 페이지</a>

        <div class="register-product-form-container">
            <form class="box register-product-form-box"
                  id="registerProductForm"
                  th:action="@{/admin/products/{id}/edit(id=${product.id})}"
                  method="post"
                  enctype="multipart/form-data">
                <p class="title is-5" style="color: #edb946">상품 수정하기</p>
                <div class="field">
                    <label class="label" for="name">상품명</label>
                    <div class="control">
                        <input
                                class="input"
                                id="name"
                                name="name"
                                type="text"
                                placeholder="상품명을 입력하세요."
                                th:value="${product.name}"
                                autocomplete="on"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="categorySelectBox">세부 카테고리</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="categorySelectBox" name="subcategoryId">
                                <option value="">세부 카테고리를 선택해주세요.</option>
                                <th:block th:each="subcategory : ${subcategories}">
                                    <option th:value="${subcategory.id}"
                                            th:text="${subcategory.subcategoryName}"
                                            th:selected="${subcategory.id == product.subcategoryId}">세부 카테고리 이름</option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="description">상품 설명</label>
                    <div class="control">
                        <textarea
                                class="textarea"
                                id="description"
                                name="description"
                                rows="8"
                                placeholder="상품에 대한 설명을 적어 주세요."
                                th:text="${product.description}"
                                autocomplete="on"
                        ></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="stock">재고량</label>
                    <div class="control">
                        <input
                                class="input"
                                id="stock"
                                name="stock"
                                type="number"
                                placeholder="재고량을 입력해주세요."
                                th:value="${product.stock}"
                                autocomplete="on"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="price">가격</label>
                    <div class="field">
                        <div class="control has-icons-right">
                            <input
                                    class="input"
                                    id="price"
                                    name="price"
                                    type="number"
                                    placeholder="제품의 가격을 입력해주세요. (단위: 원)"
                                    th:value="${product.price}"
                                    autocomplete="on"
                            />
                            <span class="icon is-small is-right"> 원 </span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="discountRateInput">할인율</label>
                    <div class="control">
                        <input
                                class="input"
                                id="discountRateInput"
                                name="discountRate"
                                type="number"
                                step="0.01"
                                placeholder="할인율을 입력해주세요. (단위: %)"
                                th:value="${product.discountRate}"
                                autocomplete="on"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="expirationDateInput">유통기한</label>
                    <div class="control">
                        <input
                                class="input"
                                id="expirationDateInput"
                                name="expirationDate"
                                type="date"
                                placeholder="유통기한을 입력해주세요."
                                th:value="${product.expirationDate}"
                                autocomplete="on"
                        />
                    </div>
                </div>

                <div class="field is-fullwidth mb-5">
                    <label class="label" for="productImageInput">상품 이미지</label>
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input
                                    class="file-input"
                                    id="productImageInput"
                                    type="file"
                                    name="productImageFile"
                                    accept="image/*"
                            />
                            <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> 사진 업로드 </span>
                  </span>
                            <span class="file-name" id="productFileNameSpan">
                    사진파일 (png, jpg, jpeg)
                  </span>
                        </label>
                    </div>
                </div>

                <div class="field is-fullwidth mb-5">
                    <label class="label" for="descriptionImageInput">상세 설명 이미지</label>
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input
                                    class="file-input"
                                    id="descriptionImageInput"
                                    type="file"
                                    name="descriptionImageFile"
                                    accept="image/*"
                            />
                            <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> 사진 업로드 </span>
                  </span>
                            <span class="file-name" id="descriptionFileNameSpan">
                    사진파일 (png, jpg, jpeg)
                  </span>
                        </label>
                    </div>
                </div>

                <div
                        class="field is-grouped is-grouped-multiline mt-3"
                        id="keywordContainer"
                ></div>

                <div class="mt-5">
                    <button type="submit" class="button is-primary is-fullwidth" id="submitButton"
                            style="background-color: #edb946;">
                        상품 수정 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
