<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>꼬랑지랑 - 카테고리 추가</title>

    <!-- bulma css 관련 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
            defer
            src="https://kit.fontawesome.com/9daa42bcef.js"
            crossorigin="anonymous"
    ></script>
    <!-- AWS S3 사용하기 위한 파일 -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/css/category-add.css" />
    <script src="/js/category-add.js" type="module" defer></script>
</head>
<body>
<!-- 헤더 -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="has-text-link">꼬랑지랑</span>
            </a>

            <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>

<!-- 카테고리 추가 폼(Form) -->
<section class="section">
    <div class="container">
        <div class="block account-header">
            <h1 class="subtitle is-4">카테고리 추가</h1>
        </div>
        <div class="register-category-form-container">
            <form
                    th:action="@{/admin/category/add}" method="post"
                    enctype="multipart/form-data"
                    class="box register-category-form-box"
                    id="registerCategoryForm"
            >
                <div class="field">
                    <label class="label" for="categoryName">카테고리 이름</label>
                    <div class="control">
                        <input
                                class="input"
                                id="categoryName"
                                name="categoryName"
                                type="text"
                                placeholder="카테고리명을 입력하세요."
                                autocomplete="on"
                        />
                    </div>
                </div>
                <button
                        class="button is-primary is-fullwidth"
                        id="addCategoryButton"
                        style="background-color: #edb946;"
                >
                    카테고리 추가하기
                </button>
            </form>
        </div>
    </div>
</section>
</body>
</html>
